#led.on {
    background-color: green !important;
    animation: blinking 1.5s linear infinite;
}

#led.off {
    background-color: red !important;
}

#led.unknown {
    background-color: grey !important;
}

@keyframes blinking {
    50% {
      opacity: 0.5;
    }
  }